.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header_link-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_links-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  color: #000;
}

.header_link-active {
  text-decoration: none;
  border: none;
}

.header_logo {
  display: grid;
  justify-self: center;
}

.header_logo-image {
  display: block;
  width: 133px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  
}

.header_address {
  display: grid;
  justify-self: end;

}

.address a {
  color: #000;
}

.address_exact {
  color: #000;
  font-style: normal;
}

.cover {
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 50px 50px;
  position: relative;
}

.overlay {
  width: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  inset: 0;

}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  position: relative;

}

.aligned_text {
  letter-spacing: 30px;
}

.aligned_text-center {
  width: 1280px;
  text-align: center;
}

.aligned_text-right {
  text-align: right;
}

.letter_spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  padding-top: 125px;
  display: flex;
  justify-content: end;
  gap: 78px;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  color: #FFF;;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  border: 1px solid #FFF;
  background: transparent;
}